@model Portfolio.Models.Contact

@{
    ViewBag.Title = "Contact";
}
<h2 align="center">Contact Form</h2>
<form id="contactForm" action="@Url.Action("Index", "Contact")" method="post" >
    
    <div class="form" align="center">
    <div class="input">
        <!--create a label-->
        @Html.LabelFor(x => x.FirstName)
        <!--create a text box-->
        @Html.TextBoxFor(x => x.FirstName)
        <!--create a message-->
        @Html.ValidationMessageFor(x => x.FirstName)
    </div>
        <br />
    <div class="input">
        <!--create a label-->
        @Html.LabelFor(x => x.LastName)
        <!--create a text box-->
        @Html.TextBoxFor(x => x.LastName)
        <!--create a message-->
        @Html.ValidationMessageFor(x => x.LastName)
    </div>
        <br />
    <div class="input">
        @Html.LabelFor(x => x.EmailAddress)
        @Html.TextBoxFor(x => x.EmailAddress)
        @Html.ValidationMessageFor(x => x.EmailAddress)
    </div>
        <br />
    <div class="input">
        @Html.LabelFor(x => x.ContactNumber)
        @Html.TextBoxFor(x => x.ContactNumber)
        @Html.ValidationMessageFor(x => x.ContactNumber)
    </div>
<br />
    <div class="input">
        @Html.LabelFor(x => x.Comment)
        @Html.TextAreaFor(x => x.Comment)
        @Html.ValidationMessageFor(x => x.Comment)
    </div>
 <br />
    <input type="submit" value="Submit" />
<br />
    </div>
</form>

@*add a reference to the jQuery Validation this is the javascript that actually performs our validation using jQuery*@
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
