@{
    ViewBag.Title = "Home Page";
}
<!doctype html>
<head>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<title>Home Page</title>
</head>
<body>
<div class="homepage-content">

<div class="div1" id="home">
<div class="image active">
    <img src="@Url.Content("~/Content/images/TechWorld.png")" alt="Tech World" />
</div>

<div class="image hide">
    <img src="@Url.Content("~/Content/images/CoorsField.png")" alt="Coors Field"/>
</div>

<div class="image hide">
    <img src="@Url.Content("~/Content/images/MaroonBells.png")" alt="Maroon Bells" />
</div>

<div class="image hide">
    <img src="@Url.Content("~/Content/images/GrossReservior.png")" alt="Gross Reservior" />
</div>

<div class="image hide">
    <img src="@Url.Content("~/Content/images/BearPeak.jpg")" alt="Bear Peak" />
</div>

<div class="image hide">
    <img src="@Url.Content("~/Content/images/ComputerAddictive.png")" alt="Computer Addictive" />
</div>

</div>
<div class="home-boxes">
<div class="div2">
<h2 align="center">About Me</h2>
<p>Hi there friend!  I'm Drew, and I am an entry level web developer.  I have a love for learning and technology, but I didn't start off writing awesome programs out of nowhere.</p>
<p><a href="@Url.Action("Index", "About")">Click here</a> and find out more about me and my journey and how I got to where I am today.</p>
</div>

<div class="div3">
<h2 align="center">Work</h2>
<p>I have been creating webpages and writing interactive programs for about 6 weeks now and have gained some insight into many different languages.  Enjoy searching the ocean depths in Battleship, fighting off a fire-breathing dragon in Dragon Combat 2.0, or test your trivial knowledge with the Trivia Game!  All of these can be found on the Work Page.</p>
<p><a href="@Url.Action("Index", "Work")">Click here</a> to check out some samples of my work.</p>
</div>

<div class="div4">
<h2 align="center">Contact</h2>
<p>If you would like to get in contact with me about my work or anything else, I would love to hear from you!</p>
<p><a href="@Url.Action("Index","Contact")">Click here</a> to leave me a message.</p>
</div>
</div>
</div>
</body>
</html>