<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <header>
        <div class="header">
        <h1>Drew Cook</h1>
        <nav>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "Home")">Home</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "About")">About</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "Work")">Work</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "Contact")">Contact</a>
            &nbsp;||&nbsp;
        </nav>
        </div>
    </header>
<body>    
    <div id="container">
    @RenderBody()
        </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
<footer>
    <div class="footer">
    <p>Copyright 2014 Drew Cook</p>
    <table style="display:inline-block">
        <tr>
            <td style="display:inline-block"><a href="https://github.com/drewcook"><img src="@Url.Content("~/Content/images/github2.png")" height="40px" width="40px"/></a></td>
            <td style="display:inline-block"><a href="https://www.facebook.com/drew.cook11"><img src="@Url.Content("~/Content/images/facebook.png")" height="40px" width="40px"/></a></td>
            <td></td>
        </tr>
    </table>
    <nav>
        &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "Home")">Home</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "About")">About</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "Work")">Work</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "Contact")">Contact</a>
            &nbsp;||&nbsp;
    </nav>
    </div>
</footer>
</html>
