<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>    
    <div id="container">
    @RenderBody()
        </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
<footer>
    <div class="footer">
    <p>© Drew Cook, 2014 </p>
    <table>
        <tr>
            <td style="display:inline-block"><a target="_blank" href="https://github.com/drewcook"><img src="@Url.Content("~/Content/images/github2.png")" height="40px" width="40px"/></a></td>
            <td style="display:inline-block"><a target="_blank" href="https://www.facebook.com/drew.cook11"><img src="@Url.Content("~/Content/images/facebook.png")" height="40px" width="40px"/></a></td>
            <td style="display:inline-block"><a target="_blank" href="https://www.linkedin.com/profile/view?id=366636396&authType=name&authToken=P6zu&trk=prof-sb-how_conn-viewer-photo"><img src="@Url.Content("~/Content/images/linkedin.png")" height="40px" width="40px"></a></td>
            <td style="display:inline-block"><a target="_blank" href="https://soundcloud.com/glprod"><img src="@Url.Content("~/Content/images/soundcloud.png")" height="38px" width="38px" /></a></td>
            <td style="display:inline-block"><a target="_blank" href="https://plus.google.com/u/0/107752063700272761155/about"><img src="@Url.Content("~/Content/images/googleplus.png")" height="40px" width="40px" /></a></td>
        </tr>
    </table>
    <nav>
        &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "Home")">Home</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "About")">About</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "Work")">Work</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "Contact")">Contact</a>
            &nbsp;||&nbsp;
    </nav>
    </div>
</footer>
</html>
