@{
    ViewBag.Title = "Work Page";
}

<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <title>Work Page</title>
</head>
    <header>
        <div id="navbar">
        <div id="holder">
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Index", "About")">About Me</a></li>
            <li><a href="@Url.Action("Index", "Work")" id="onlink">My Work</a></li>
            <li><a href="@Url.Action("Index", "Contact")">Contact</a></li>
        </ul>
            <h1>Drew Cook</h1>   
        </div>
        </div>
    </header>
<body>
<div class="work-content">
<h2 align="center">Samples Of Work</h2>
<br />
<h3>Games</h3>
<p>Here are just a few examples of my work.  I created all these games entirely in C# within Visual Studio 2012.  Some are complexly designed, such as Poker Player and Dragon Combat, and others are simple such as Guess That Number.  You can find the code for all of my work by clicking on the GitHub icon at the bottom of this page.  Click the game title to view details!</p>
<div class="img" id="dragon">
<div class="image active"><img src="@Url.Content("~/Content/images/dragoncombattext.png")" alt="Dragon Combat Text" width="450" height="324"/></div>
<div class="image hide"><img src="@Url.Content("~/Content/images/dragoncombatround.png")" alt="Dragon Combat Round" width="450" height="324"/></div>
<div class="image hide"><img src="@Url.Content("~/Content/images/dragoncombatattack.png")" alt="Dragon Combat Attack" width="450" height="324"/></div>
<div class="image hide"><img src="@Url.Content("~/Content/images/dragongameend.png")" alt="Dragon Combat End" width="450" height="324"/></div>
<p><a href="@Url.Action("DragonCombat","Work")">Dragon Combat 2.0</a></p>
</div>

<div class="img" id="trivia">
    <div class="image active"><img src="@Url.Content("~/Content/images/triviagamecorrect.png")" alt="Trivia Game Correct"  width="450" height="324"/></div>
    <div class="image hide"><img src="@Url.Content("~/Content/images/triviagameincorrect.png")" alt="Trivia Game Incorrect"  width="450" height="324"/></div>
    <div class="image hide"><img src="@Url.Content("~/Content/images/triviagameresults.png")" alt="Trivia Game Results"  width="450" height="324"/></div>
    <p><a href="@Url.Action("TriviaGame","Work")">Trivia Game</a></p>
</div>

<div class="img" id="pokerplayer">
    <div class="image active"><img src="@Url.Content("~/Content/images/PokerPlayerText.png")" alt="Poker Player Text"  width="450" height="324"/></div>
    <div class="image hide"><img src="@Url.Content("~/Content/images/PokerPlayerHand.png")" alt="Poker Player Hand"  width="450" height="324"/></div>
    <div class="image hide"><img src="@Url.Content("~/Content/images/PokerPlayerHands.png")" alt="Poker Player Hands"  width="450" height="324"/></div>
<p><a href="@Url.Action("PokerPlayer", "Work")">Poker Player</a></p>
</div>

<div class="img" id="guessthatnumber">
    <div class="image active"><img src="@Url.Content("~/Content/images/guessthatnumber.png")" alt="Guess That Number Text"  width="450" height="324"/></div>
    <div class="image hide"><img src="@Url.Content("~/Content/images/guessthatnumberhighscore.png")" alt="Guess That Number End"  width="450" height="324"/></div>
    <div class="image hide"><img src="@Url.Content("~/Content/images/guessthatnumberhighscoreresult.png")" alt="Guess That Number High Scores"  width="450" height="324"/></div>
<p><a href="@Url.Action("GuessThatNumber","Work")">Guess That Number</a></p>
</div>


<h3>Side Projects</h3>
<p>Here are a couple samples of some music I have created.  I have recorded all instruments and arranged and mixed each track.  You can find more of my music by clicking the SoundCloud icon at the bottom of this page.  Enjoy listening!</p>
<div class="img">
    <iframe width="250" height="180" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/156962621&amp;color=ffb400&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    <p>"Jerusalem Ridge"</p>
</div>

<div class="img">
   <iframe width="250" height="180" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/152506104&amp;color=ffb400&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    <p>"Lonesome Fiddle Blues"</p>
</div>
    

</div>
</body>

</html>